@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anton", sans-serif;
  background-color: #ffe9cf;
}


.marquee-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
}

.marquee-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
  transform-origin: center;
  display: flex;
  align-items: center;
}

.marquee-inner {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  min-width: 300%;
}

.marquee-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff8e6;
  margin-right: 2rem;
  font-family: 'Anton', Courier, monospace;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.marquee-text:hover {
  transform: scale(1.1);
  color: #ffae00;
  opacity: 1;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  z-index: 1000;
  pointer-events: none;
}



@media (max-width: 768px) {
  .marquee-text {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}
